# ==========================================
# Terraform
# ==========================================
.terraform/
*.tfstate
*.tfstate.*
crash.log


# ==========================================
# Secrets & Credentials
# ==========================================
.env
*.pem
*aws_access_key_id*
*aws_secret_access_key*
*credentials*

# ==========================================
# Python
# ==========================================
__pycache__/
.venv/
venv/
*.pyc
*.pyo
*.pyd

# ==========================================
# Local Data Sets
# ==========================================
data/
*.csv
*.parquet

# ==========================================
# IDE & OS Clutter
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db